In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from joblib import Parallel

In [3]:
import time

_start_time = time.time()

def tic():
    global _start_time 
    _start_time = time.time()

def tac():
    t_sec = round(time.time() - _start_time)
    (t_min, t_sec) = divmod(t_sec,60)
    (t_hour,t_min) = divmod(t_min,60) 
    print('Time passed: {}hour:{}min:{}sec'.format(t_hour,t_min,t_sec))

In [4]:
path = 'C:\\Users\\Peter\\Desktop\\Roys Lesson\\userart-mat-training.csv'
df = pd.read_csv(path)
df.head()

,ArtistID,user_000001,user_000002,user_000003,user_000004,user_000005,user_000006,user_000007,user_000008,user_000009,...,user_000890,user_000891,user_000892,user_000893,user_000894,user_000895,user_000896,user_000897,user_000898,user_000899
0,c489cd1c-d8d3-4dcc-b7b9-dcf7cd95d2ed,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9ccbb935-33fd-4df8-ae2d-779497c5630a,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,c71b2cc1-2737-4f76-bbf2-9ee505b4d90d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0aa8294b-6332-4b65-b677-e3a1f8591d3b,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,67673557-2310-41d3-83b9-e6e0cb1d65d5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.shape

(17119, 847)

In [6]:
path2 = 'C:\\Users\\Peter\\Desktop\\Roys Lesson\\artists-tags.txt'
df2 = pd.read_table(path2, delimiter = '|', names=["ArtistID", "ArtistName", "Tag", "Count"])
df2.head()

,ArtistID,ArtistName,Tag,Count
0,000077f7-26b1-4710-80cc-f6beddbdd157,Ryan Adams and The Cardinals,I love you baby can I have some more,1
1,000077f7-26b1-4710-80cc-f6beddbdd157,Ryan Adams and The Cardinals,alt country,2
2,000077f7-26b1-4710-80cc-f6beddbdd157,Ryan Adams and The Cardinals,whoa,1
3,00034ede-a1f1-4219-be39-02f36853373e,O Rappa,Artist,1
4,00034ede-a1f1-4219-be39-02f36853373e,O Rappa,Black,1

In [7]:
bandnames = df2['ArtistName'].unique()

In [19]:
indx = df2.groupby(['ArtistName'])['Count'].transform(max) == df2['Count']
toptags = df2[idx]

In [8]:
df['ArtistID'].nunique()

17119

In [9]:
df.shape

(17119, 847)

In [20]:
user_np_matrix = df.drop('ArtistID', axis = 1)
user_np_matrix.head()

,user_000001,user_000002,user_000003,user_000004,user_000005,user_000006,user_000007,user_000008,user_000009,user_000010,...,user_000890,user_000891,user_000892,user_000893,user_000894,user_000895,user_000896,user_000897,user_000898,user_000899
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
from sklearn.cluster import KMeans

In [22]:
tic()
Model5 = KMeans(n_clusters=5).fit(user_np_matrix)
print('\n For 5 clusters')
tac()

tic()
Model25 = KMeans(n_clusters=25).fit(user_np_matrix)
print('\n For 25 clusters')
tac()

tic()
Model50 = KMeans(n_clusters=50).fit(user_np_matrix)
print('\n For 50 clusters')
tac()

 For 5 clusters
Time passed: 0hour:0min:23sec

 For 25 clusters
Time passed: 0hour:0min:55sec

 For 50 clusters
Time passed: 0hour:1min:9sec

In [23]:
from sklearn import metrics

In [24]:
#labels = Model5.labels_
#print(metrics.silhouette_score(Model5, labels, metric='euclidean'))